@model IEnumerable<DogHub.Models.User>
@{
    ViewBag.Title = "All Users";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Users</h2>
<table class="table table-bordered table-striped">
    <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Admin</th>
        <th>Created</th>
    </tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.UserName</td>
            <td>@user.Email</td>
            <td>@(user.IsAdmin == true ? "Yes" : "No")</td>
            <td>@user.SysCreatedDate?.ToString("yyyy-MM-dd")</td>
        </tr>
    }
</table>
